<mat-toolbar color="primary">
  <h1>{{ title }}</h1>
</mat-toolbar>

<ng-container *ngIf="userAuthenticated; then authenticated else notAuthenticated"></ng-container>
<ng-template #notAuthenticated>
  <div class="align-center">
    <h2>You are not authenticated</h2>
    <ul class="action-button-list">
      <li>
        <button type="button" mat-raised-button color="primary" (click)="logIn()">
            <mat-icon>input</mat-icon> Log In
        </button>
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #authenticated>
  <div class="align-center">
    <h2>You are authenticated</h2>
    <ul class="action-button-list">
      <li>
        <button type="button" mat-raised-button color="primary" (click)="silentRefresh()">
            <mat-icon>refresh</mat-icon> Silent Refresh
        </button>
      </li>
      <li>
        <button type="button" mat-raised-button color="primary" (click)="logOut()">
            <mat-icon>exit_to_app</mat-icon> Log Out
        </button>
      </li>
    </ul>
  </div>
  <oidc-info-display></oidc-info-display>
</ng-template>

<nli-loading-indicator></nli-loading-indicator>
<error-window></error-window>