<div class="flex-grid token-info-grid">
  <div class="flex-column flex-column-half">
    <mat-card>
      <mat-card-title>Identity Token Claims</mat-card-title>
      <mat-card-content><pre class="identityTokenClaims">{{identityTokenClaims | json}}</pre></mat-card-content>
    </mat-card>    
  </div>
  <div class="flex-column flex-column-half">
    <mat-card>
      <mat-card-title>Access Token Claims</mat-card-title>
      <mat-card-content><pre class="accessTokenClaims">{{accessTokenClaims | json}}</pre></mat-card-content>
    </mat-card>
  </div>
  <div class="flex-column flex-column-half">
    <mat-card>
      <mat-card-title>Identity Token Expiration</mat-card-title>
      <mat-card-content><pre class="idTokenExpirationInfo">{{identityTokenExpirationInfo | json}}</pre></mat-card-content>
    </mat-card>
  </div>
  <div class="flex-column flex-column-half">
    <mat-card>
      <mat-card-title>Access Token Expiration</mat-card-title>
      <mat-card-content><pre class="accessTokenExpirationInfo">{{accessTokenExpirationInfo | json}}</pre></mat-card-content>
    </mat-card>
  </div>
</div>