/* Use box-sizing:border-box across the board, as per
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
}

/* Use flexbox so that our grid displays legibly on mobile. */
.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-column {
    flex-basis: 100%;
    max-width: 100%;
}

@media (min-width:800px) {
    .flex-column-half {
        flex-basis: 49%;
        max-width: 49%;
        padding-right: 1%;
    }
    .flex-column-fourth {
        flex-basis: 24%;
        max-width: 24%;
        padding-right: 1%;
    }
}

.align-center {
    text-align: center;
}

ul.action-button-list {
    padding:0;
}
ul.action-button-list li {
    list-style: none;
    margin:10px 0px;
}
ul.action-button-list button {
    width: 170px;
    padding:6px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
